// Электрокарнизы
.kar
	display block

.jal__right-txt-img
	margin 0 30px 30px 0
	width 100%
	max-width 350px
	height 250px
	background-color lightgrey

.jal__right-ul
	padding-left 20px
	display inline-block
	list-style-type disc

.jal__right-li
	margin 5px 0

.jal__right-btn
	margin-top 40px
// /Электрокарнизы
