mixin kar()
	+b.kar.my-5&attributes(attributes)
		block
		.container
			+titleLeft('Электрокарнизы')
			.row
				.col-12.col-md-4.col-lg-3
					+sideNav('Раздвижные', 'Подъемные', 'Для штор', 'Для жалюзи', 'Зонирование помещений', 'Установка и подключение электрокарнизов')
				.col
					.jal__right.py-2
						+titleSimple('Раздвижные электрокарнизы')
						.jal__right-img-row.clearfix
							img(src='').jal__right-txt-img.float-left
							ul.jal__right-ul
								li.jal__right-li сочетаются с классическими шторами
								li.jal__right-li надежная защита от солнца
								li.jal__right-li отталкивают пыль
							.jal__right-price.my-4 от
								strong 9000 RUB
							.jal__right-btn
								+headerBtn('Заказать')
						.jal__right-txt
							.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
							.jal__right-txt-more-btn(data-toggle="collapse" data-target="#collapseTwo") Смотреть весь текст
							.jal__right-txt-more#collapseTwo.collapse Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
			
