// Электрокарнизы
.kar
	position relative
	display block

#karniziAnchor
	position absolute
	top -90px
@media screen and (max-width 992px)
	#karniziAnchor
		top -150px
	#jaluziAnchor
		top -100px
@media screen and (max-width 576px)
	#karniziAnchor
		top -110px
	#jaluziAnchor
		top -60px

.jal__right-txt-img
	margin 0 30px 30px 0
	width 100%
	max-width 350px
	height 250px
	background url('../../images/kar.png')
	background-position center
	background-size cover

.jal__right-txt
	font-family MullerLight
	font-size 16px
	color #555

.jal__right-ul
	padding-left 20px
	display inline-block
	list-style-type disc

.jal__right-li
	margin 5px 0
	font-family MullerLight
	color #555555

.jal__right-price
	color #555

.kar-price-blue
	font-family MullerBold
	font-size 16px
	color #00427b

.jal__right-btn
	margin-top 20px
	margin-bottom 40px
	display inline-block
	width 200px
	cursor pointer
	.btn-simple
		padding 12px 0
		text-align center

@media screen and (max-width 350px)
	.title-left__title
		font-size 30px
// /Электрокарнизы
