mixin photo()
	+b.photo.pt-5&attributes(attributes)
		block
		// Фото с производства
		.container-fluid
			.title-center Фото с производства		
		.row.align-items-stretch
			.photo-slider-wrap
				.photo-slider
					// Айтемы
					a(href="images/portfolio/1.jpg" class="photo-slider-item")
						img(src="images/portfolio/1.jpg")
					a(href="images/portfolio/2.jpg" class="photo-slider-item")
						img(src="images/portfolio/2.jpg")
					a(href="images/portfolio/3.jpg" class="photo-slider-item")
						img(src="images/portfolio/3.jpg")
					a(href="images/portfolio/4.jpg" class="photo-slider-item")
						img(src="images/portfolio/4.jpg")
					a(href="images/portfolio/5.jpg" class="photo-slider-item")
						img(src="images/portfolio/5.jpg")
