// Футер
.footer
	padding-top 60px
	display block
	background-color #fff

.footer__phones
	margin-bottom 5px
	font-size 20px

.footer__phones:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	font-size 20px
	content '\f095'
.footer__address:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	font-size 20px
	content '\f041'
.footer__time:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	font-size 20px
	content '\f017'

.footer__address
	margin 15px 0

.footer__title
	position relative
	margin-bottom 15px
	padding-bottom 10px
	font-size 25px
.footer__title:after
	position absolute
	left 0
	bottom 0
	width 100%
	height 1px
	content ''
	border-bottom 1px solid grey

.footer__li
	margin 10px 0

.footer__input
	margin-bottom 5px
	width 100%

.footer__textarea
	margin-bottom 5px
	width 100%

.footer__submit
	padding 12px 0
	width 100%
	color lightgrey
	background-color grey

.copyright__wrap
	color lightgrey
	background-color grey

.copyright
	padding 15px 0
	text-align center
// /Футер
