// Футер
.footer
	padding-top 60px
	display block
	background-color #fff

.footer__phones
	margin-bottom 5px
	font-size 20px

.footer__phones:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	content '\f095'
	font-size 20px
.footer__address:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	content '\f041'
	font-size 20px
.footer__time:before
	padding-right 5px
	display inline-block
	font-family FontAwesome
	content '\f017'
	font-size 20px

.footer__address
	margin 15px 0

.footer__title
	padding-bottom 10px
	margin-bottom 15px
	position relative
	font-size 25px
.footer__title:after
	content ''
	position absolute
	bottom 0
	height 1px
	width 100%
	left 0
	border-bottom 1px solid grey

.footer__li
	margin 10px 0

.footer__input
	width 100%
	margin-bottom 5px

.footer__textarea
	width 100%
	margin-bottom 5px

.footer__submit
	width 100%
	padding 12px 0
	background-color grey
	color lightgrey

.copyright__wrap
	background-color grey
	color lightgrey

.copyright
	padding 15px 0
	text-align center
// /Футер
