mixin karpreim()
	+b.karpreim&attributes(attributes)
		block
		.container
			+titleCenter('Преимущества наших электрокарнизов:')
			.row
				.col-12.col-sm-6.col-xl-3
					+chooseItem('images/choosejal.png', 'Собственное производство', '')
					+chooseItem('images/choosejal.png', 'Управление в 3-х вариантах', 'пульт ДУ, пульт ДУ с таймером, настенная панель')
				.col-12.col-sm-6.col-xl-3
					+chooseItem('images/choosejal.png', 'Тишина', 'уровень шума А (30 dB) – соответствует шелесту листвы')
					+chooseItem('images/choosejal.png', 'Универсальность', 'интегрируется с системами "Умный дом"')
				.col-12.col-sm-6.col-xl-3
					+chooseItem('images/choosejal.png', 'Стильный дизайн', 'прибор впишется в любой интерьер')
					+chooseItem('images/choosejal.png', 'Функция "touch motion"', 'позволяет включать электрокарнизы просто потянув за ткань шторы')
				.col-12.col-sm-6.col-xl-3
					+chooseItem('images/choosejal.png', 'Компактность', 'размеры (мм) 314*80*52 и 206*70*55')
					+chooseItem('images/choosejal.png', 'Гарантия - 3 года', '')
