mixin karpreim()
	+b.karpreim&attributes(attributes)
		block
		.container
			+titleCenter('Преимущества наших электрокарнизов:')
			.row
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Собственное производство
							.whyus__item-ttl-bg
						.whyus__item-txt
							span(style='height: 28px;')
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 1
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Тишина
							.whyus__item-ttl-bg
						.whyus__item-txt уровень шума А (30 dB) – соответствует шелесту листвы
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 2
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Стильный дизайн
							.whyus__item-ttl-bg
						.whyus__item-txt прибор впишется в любой интерьер
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 3
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Компактность
							.whyus__item-ttl-bg
						.whyus__item-txt Размеры двигателя (мм) 314*80*52 и 206*70*55
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 4
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Управление в 3-x вариантах
							.whyus__item-ttl-bg
						.whyus__item-txt пульт ДУ, пульт ДУ с таймером, настенная панель
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 5
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Универсальность
							.whyus__item-ttl-bg
						.whyus__item-txt интегрируется с системами "Умный дом"
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 6
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl "Touch motion"
							.whyus__item-ttl-bg
						.whyus__item-txt позволяет включать электрокарнизы просто потянув за ткань шторы
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 7
				.col-12.col-sm-6.col-xl-3.whyus__item-wrap
					.whyus__item
						.whyus__item-ttl Гарантия - 3 года
							.whyus__item-ttl-bg
						.whyus__item-txt
						.whyus__item-numb.aos-init(data-aos="fade-up" data-aos-delay="0") 8	
