mixin remind()
	+b.remind&attributes(attributes)
		block
		.container
			.d-flex.flex-column.align-items-center
				.title-big.font-bold Напомнить мне позже
				//- .title-big__note.title-big__note-remind Напоминание о мероприятии придет на указанный номер телефона
				.d-flex.justify-content-center.flex-wrap
					input(placeholder='Время').getcat__input
					input(placeholder='Дата').getcat__input
					input(placeholder='+7 (___) ___-__-__').getcat__input
				.getcat__note.remind__note 
					span.orange-star * 
					| Отправляя форму, Вы соглашаетесь с нашей u политикой конфиденциальности
				.getcat__btn(data-toggle='modal' data-target='#thnx')
					+headerBtn('Заказать консультацию')
