// Напомнить мне позже
.remind
	padding 60px 0
	display block
	background-color lightgrey

.getcat__note.remind__note
	text-align center

.title-big__note.title-big__note-remind
	text-align center
// /Напомнить мне позже
