// Напомнить мне позже
.remind
	padding 60px 0
	display block
	background url('../../images/remind-bg.png')
	background-position center
	background-size cover

.getcat__note.remind__note
	text-align center
	color #d2d2d2

.title-big__note.title-big__note-remind
	text-align center
// /Напомнить мне позже
