mixin otzivi()
	+b.otzivi.py-5&attributes(attributes)
		block
		.container
			+titleCenter('Отзывы')
			// Слайдер
			.row.justify-content-center
				.col-12.col-md-10
					.otzivi-slider-wrap
						.otzivi-slider
							// Айтемы
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития.
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степеПовседневная 
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания Повседневная практика показывает, реализация намеченных плановых заданий в значительной степе Повседневная практикаи обуславливает создание а
							.otzivi-slider-item
								.row
									.col-12
										.otzivi-slider-item__top
											.otzivi-slider-item__top-img(style="background-image: url('images/otzivi.jpg')")
											.otzivi-slider-item__top-title Виктор
											.otzivi-slider-item__top-city г. Симферополь
									.col-12
										.otzivi-slider-item__bottom
											.otzivi-slider-item__bottom-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
						// Пагинация
						.otzivi-slider__pag
							.otzivi-slider__current 1
							.otzivi-slider__iz из
							.otzivi-slider__total
