mixin otzivi()
	+b.otzivi.py-5&attributes(attributes)
		block
		.container
			+titleCenter('Отзывы')
			// Слайдер
			.row.justify-content-center
				.col-9.col-md-10
					.otzivi-slider-wrap
						.otzivi-slider
							// Айтемы
							.otzivi-slider-item
								.row
									.col-12.col-md-4
										.otzivi-slider-item__left
											img(src='').otzivi-slider-item__left-img
									.col
										.otzivi-slider-item__right.p-3.pl-md-0
											.otzivi-slider-item__right-title Виктор
											.otzivi-slider-item__right-city г. Симферополь
											.otzivi-slider-item__right-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
							.otzivi-slider-item
								.row
									.col-12.col-md-4
										.otzivi-slider-item__left
											img(src='').otzivi-slider-item__left-img
									.col
										.otzivi-slider-item__right.p-3.pl-md-0
											.otzivi-slider-item__right-title Виктор
											.otzivi-slider-item__right-city г. Симферополь
											.otzivi-slider-item__right-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
							.otzivi-slider-item
								.row
									.col-12.col-md-4
										.otzivi-slider-item__left
											img(src='').otzivi-slider-item__left-img
									.col
										.otzivi-slider-item__right.p-3.pl-md-0
											.otzivi-slider-item__right-title Виктор
											.otzivi-slider-item__right-city г. Симферополь
											.otzivi-slider-item__right-text Постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке модели развития. Повседневная практика показывает, реализация намеченных плановых заданий в значительной степени обуславливает создание а
						// Пагинация
						.otzivi-slider__pag
							.otzivi-slider__current 1
							.otzivi-slider__iz из
							.otzivi-slider__total 
									
					
								
								
