// Полную коллекцию жалюзи смотрите
.getcat
	padding 60px 0
	display block
	background url('../../images/getcat-bg.png')
	background-size cover
	background-position center

.title-big
	margin 20px 0
	font-size 30px
	text-align center
	color #fff
	font-family MullerLight

.getcat__input
	margin 15px
	padding 10px 20px
	text-align center
	color #6f6f6f
	background-color rgba(#ffffff, 0.6)
	border none
.getcat__input:focus
	background-color rgba(#ffffff, 0.9)
	color #2f2f2f

.getcat__note
	margin 20px 0
	text-align center
	color #b9b9b9
	font-size 14px
	font-family MullerLight

.orange-star
	color #ff7603

.getcat__btn
	width 250px
	height 40px
	text-align center
	cursor pointer
	.btn-simple
		padding 12px 0
// /Полную коллекцию жалюзи смотрите
