// Полную коллекцию жалюзи смотрите
.getcat
	padding 60px 0
	display block
	background-color lightgrey

.title-big
	margin 20px 0
	font-size 30px
	text-align center

.getcat__input
	margin 15px
	padding 10px 20px
	text-align center

.getcat__note
	margin 15px 0
	text-align center

.getcat__btn
	text-align center
// /Полную коллекцию жалюзи смотрите
