mixin getcat()
	+b.getcat&attributes(attributes)
		block
		.container
			.d-flex.flex-column.align-items-center
				.title-big Полную коллекцию жалюзи смотрите в 
					span.font-bold нашем каталоге
				.d-flex.flex-wrap.align-items-center.justify-content-center
					input(placeholder='Имя').getcat__input
					input(placeholder='+7 (___) ___-__-__').getcat__input
					input(placeholder='E-mail').getcat__input
				.getcat__note 
					span.orange-star * 
					| Отправляя форму, Вы соглашаетесь с нашей u политикой конфиденциальности
				a.getcat__btn(data-toggle='modal' data-target='#thnx')
					+headerBtn('Получить каталог')
