mixin getcat()
	+b.getcat&attributes(attributes)
		block
		.container
			.title-big Полную коллекцию жалюзи смотрите в нашем
				strong бесплатном 
				| каталоге
			.row.justify-content-center
				input(placeholder='Имя').getcat__input
				input(placeholder='+7 (___) ___-__-__').getcat__input
				input(placeholder='E-mail').getcat__input
			.getcat__note * Отправляя форму, Вы соглашаетесь с нашей
					u политикой конфиденциальности
			.getcat__btn
				+headerBtn('Получить каталог')
