// Рассчитать стоимость жалюзи
.jalcount
	display block
	background-color lightgrey

.title-note
	margin-top -20px

.jalcount__left-img
	width 100%
.jalcount__input-ttl
	margin-bottom 8px
.jalcount__input-inpt
	margin-bottom 15px
	width 100%
	height 35px
	border none

.jalcount__note
	text-align center

.jal-form
	max-width 50%

.jalcount__btn
	width 200px

.jalcalc
	position relative

.jalcount__left-img-wrap-out
	padding 0 0 80px 80px
.jalcount__left-img-wrap-inn
	position relative

.noUi-target.calc-vert
	position absolute
	height 100%
	top 0
	right calc(100% + 30px)
.noUi-target.calc-horiz
	position absolute
	width 100%
	top calc(100% + 30px)

#calc-vert
	.noUi-pips-vertical
		right 100%
		left inherit

#calc-vert.noUi-target
		direction rtl

#calc-vert.noUi-vertical
	width 4px
	background grey

.noUi-value-vertical
	right calc(100% + 10px)
.noUi-value-horizontal
	top 11px

// /Рассчитать стоимость жалюзи
