// Рассчитать стоимость жалюзи
.jalcount
	display block
	// background-color lightgrey
	background-image url('../../images/jalcount-img-bg.png')
	background-position center
	background-size cover

.jalcount__title
	font-family MullerBold
	font-size 30px
	text-align center
	color #fff

.title-note
	margin-top 15px
	font-family MullerLight
	font-size 16px
	text-align center
	color #fff

.jalcount__left-img
	width 100%
.jalcount__input-ttl
	margin-bottom 8px
	color #7f7f7f
.jalcount__input-inpt
	margin-bottom 15px
	width 100%
	height 35px
	text-align center
	color #ccc
	background-color rgba(#ffffff, .2)
	border none
	option
		color grey

select.jalcount__input-inpt,
#jalHeight,
#jalWidth
	padding-left 7px

.jalcount__input-inpt:focus
	color #2f2f2f
	background-color rgba(255, 255, 255, .6)

.jalcount__note
	text-align center
	color #bababa

.jal-form
	max-width 50%

.jalcount__btn
	width 200px
	.slider__submit
		margin-bottom 0

.jalcalc
	position relative

.jalcount__left-img-wrap-out
	padding 0 0 80px 80px
	text-align center
.jalcount__left-img-wrap-inn
	position relative
	display inline-block
	max-width 300px

.noUi-target.calc-vert
	position absolute
	top 50px
	right calc(100% + 30px)
	height calc(100% - 50px)
.noUi-target.calc-horiz
	position absolute
	top calc(100% + 30px)
	width 100%

.noUi-target.calc-vert:before
	position absolute
	top -50px
	width 90px
	text-align right
	content 'Высота, см'
	color #ddd

.noUi-target.calc-horiz:before
	position absolute
	left 50%
	bottom -70px
	content 'Ширина, см'
	transform translateX(-50%)
	color #ddd

#calc-vert
	.noUi-pips-vertical
		right 100%
		left inherit

#calc-vert.noUi-target
		direction rtl

// #calc-vert.noUi-vertical
// 	width 2px
// 	background grey

.noUi-value-vertical
	right calc(100% + 10px)
.noUi-value-horizontal
	top 11px


// адаптация
@media screen and (max-width 425px)
	.noUi-target.calc-vert:before
		right -27px
// /Рассчитать стоимость жалюзи
