// Рассчитать стоимость жалюзи
.jalcount
	display block
	// background-color lightgrey
	background-image url('../../images/jalcount-img-bg.png')
	background-size cover
	background-position center

.jalcount__title
	color #fff
	font-family MullerBold
	font-size 30px
	text-align center

.title-note
	font-size 16px
	color #fff
	font-family MullerLight
	text-align center
	margin-top 15px

.jalcount__left-img
	width 100%
.jalcount__input-ttl
	color #7f7f7f
	margin-bottom 8px
.jalcount__input-inpt
	margin-bottom 15px
	padding-left 7px
	width 100%
	height 35px
	border none

.jalcount__note
	text-align center

.jal-form
	max-width 50%

.jalcount__btn
	width 200px

.jalcalc
	position relative

.jalcount__left-img-wrap-out
	padding 0 0 80px 80px
	text-align center
.jalcount__left-img-wrap-inn
	position relative
	display inline-block
	max-width 300px

.noUi-target.calc-vert
	position absolute
	top 0
	right calc(100% + 30px)
	height 100%
.noUi-target.calc-horiz
	position absolute
	top calc(100% + 30px)
	width 100%

#calc-vert
	.noUi-pips-vertical
		right 100%
		left inherit

#calc-vert.noUi-target
		direction rtl

// #calc-vert.noUi-vertical
// 	width 2px
// 	background grey

.noUi-value-vertical
	right calc(100% + 10px)
.noUi-value-horizontal
	top 11px

// /Рассчитать стоимость жалюзи
