mixin jalcount()
	+b.jalcount.py-5&attributes(attributes)
		block
		.container
			.row.flex-row.d-flex.d-sm-block
				// Калькулятор
				.jalcalc.col-12.order-2.col-sm-6.float-sm-left.col-lg-4
					.jalcount__left-img-wrap-out.mt-4.mt-sm-1
						.jalcount__left-img-wrap-inn
							img(src='images/jalcount-img-window.png').jalcount__left-img
							// Горизонтальный ползунок
							.calc-horiz#calc-horiz
							// Вертикальный ползунок
							.calc-vert#calc-vert
				.col-12
				// Заголовок
				.col-12.order-1.mb-3.col-sm-12.col-lg-12
					.row.justify-content-center
						.col-12.col-lg-8
							.jalcount__title Рассчитать стоимость жалюзи для ваших окон
							.title-note 
								span(style='color: #ff7603;') * 
								| при самостоятельном замере и установке - 
								span(style='color: #ff7603;') скидка 15 %
				// Форма
				.col-12.order-3.col-sm-12.col-lg-12
					.row.justify-content-center
						.col-12.col-lg-8
							mixin jalcountInput(title)
								.jalcount__input-ttl= title
								input(type='text').jalcount__input-inpt
							form#jalCount.row.my-3
								.col-12
									.jalcount__input-ttl Тип жалюзи
									select(name='jal-type' type='select' form='jalCount').jalcount__input-inpt#jalcountType
										option(value='Горизонтальные жалюзи') Горизонтальные жалюзи
										option(value='Вертикальные жалюзи') Вертикальные жалюзи
										option(value='Рулонные жалюзи') Рулонные жалюзи
										option(value='Фотожалюзи') Фотожалюзи
										option(value='Шторы-плиссе') Шторы-плиссе
										option(value='Жалюзи с электроприводом') Жалюзи с электроприводом
								.col-6
									.jalcount__input-ttl Высота, см
									input(type='number' step='.10' value='' style='text-align: center;').jalcount__input-inpt#jalHeight
								.col-6
									.jalcount__input-ttl Ширина, см
									input(type='number' step='.10' value='' style='text-align: center;').jalcount__input-inpt#jalWidth
								.col-6
									.jalcount__input-ttl Ваше имя
									input(type='text').jalcount__input-inpt#jalName
								.col-6
									.jalcount__input-ttl Номер телефона
									input(type='text' placeholder='+7 (___) ___-__-__').jalcount__input-inpt#jalPhone
								.col-12.my-2.align-items-center.flex-column.d-flex
									.jalcount__note.my-3
										span(style='color: #ff7603') * 
										| Отправляя форму, Вы соглашаетесь с нашей 
										a(href='#privacy' data-toggle='modal').privacy-link политикой конфиденциальности
									.jalcount__btn
										.btn-simple.slider__submit.jalcount__submit Добавить в заказ

						
