// Мифы о жалюзи
.myths
	display block
	background-color #fff

.myths__item
	height 100%
	border 1px solid lightgrey

.myths__item-top
	padding 15px 10px 15px 0
	color grey
	background-color #f6f6f6
	border-bottom 1px solid lightgrey

.myths__item-left,
.myths__item-right
	display inline-block

.myths__item-left
	float left
	width 85px
	text-align center


.myths__item-right
	width calc(100% - 105px)

.myths__item-bottom
	padding 20px 10px 20px 0



// /Мифы о жалюзи
