mixin myths()
	+b.myths.py-5&attributes(attributes)
		block
		.container
			+titleCenter('Мифы о жалюзи')
			.row.align-items-stretch
				.col-12.col-md-6.my-3
					mixin myth(ttl, txt)
						.myths__item
							.myths__item-top.clearfix
								.myths__item-left
									img(src='images/myth.png').myths__item-left-img
								.myths__item-right.pt-1= ttl
							.myths__item-bottom.clearfix
								.myths__item-left
									img(src='images/myth-answer.png').myths__item-left-img
								.myths__item-right= txt
					+myth('Жалюзи быстро сломаются', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качествам опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
				.col-12.col-md-6.my-3
					+myth('Жалюзи - это дорого', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
				.col-12.col-md-6.my-3
					+myth('Долго ждать', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
				.col-12.col-md-6.my-3
					+myth('Жалюзи собирают пыль', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
				.col-12.col-md-6.my-3
					+myth('Установка повредит интерьер', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
				.col-12.col-md-6.my-3
					+myth('Проще купить готовые', '- Мы используем только качественные материалы и комплектующие. Гарантируем опыт и профессионализм монтажников. Высокое качесвтво подтверждено сертификатами качества. Предоставляем гарантию 2 года.')
