// Мифы о жалюзи
.myths
	display block
	background-color #fff

.orange-myth
	color #ff4200

.myths__item
	height 100%
	border 1px solid lightgrey
	position relative
	overflow hidden

.myths__item-top
	padding 20px 20px 20px 90px
	color #696969
	background-color #f6f6f6
	border-bottom 1px solid lightgrey
	overflow hidden
	position relative

.myths__item-left,
.myths__item-right
	display inline-block

.myths__item-left
	float left
	width 85px
	text-align center

.myths__item-right-txt
	color #222
	font-family MullerLight
	line-height 24px

.myths__item-bottom
	min-height 190px
	padding 20px 10px 20px 30px

.myths__item-top-img
	position absolute
	top 50%
	transform translateY(-50%)
	left -42px

.myths__item-left-img
	position absolute
	right -20px
	bottom -20px

// адаптация
@media screen and (max-width 353px)
	.myths__item-top-img
		left -50px

// /Мифы о жалюзи
