// Мифы о жалюзи
.myths
	display block
	background-color #fff
	overflow hidden

.orange-myth
	color #ff4200

.myths__item
	position relative
	overflow hidden
	height 100%
	border 1px solid lightgrey
	box-shadow 0 5px 20px 0 rgba(0, 0, 0, .18)

.myths__item-top
	position relative
	padding 20px 20px 20px 90px
	overflow hidden
	color #696969
	background-color #f6f6f6
	border-bottom 1px solid lightgrey
	box-shadow 0 0 30px 0 rgba(0, 0, 0, .18)


.myths__item-left,
.myths__item-right
	display inline-block

.myths__item-left
	float left
	width 85px
	text-align center

.myths__item-right-txt
	font-family MullerLight
	line-height 24px
	color #222

.myths__item-bottom
	padding 20px 10px 20px 30px
	min-height 100px

.myths__item-top-img
	position absolute
	top 50%
	transform translateY(-50%)
	left 0

.myths__item-left-img
	position absolute
	right -20px
	bottom -20px

// адаптация
@media screen and (max-width 353px)
	.myths__item-top-img
		left -50px

// /Мифы о жалюзи
