// Дополнительные стили для оформления
.privacy-link
  text-decoration underline
  color inherit !important

.btn-simple
  box-shadow 0 5px 15px rgba(0,0,0,.3)
  transition .3s

.btn-simple:hover
  box-shadow 0 5px 25px rgba(0,0,0,.55)
  transition .2s

.side-nav
  background #00427b

.side-nav__li
  border-bottom 0px
  margin-bottom 2px
  padding-right 0

.side-nav__li:last-child
  margin-bottom 0

.nav-pills .side-nav__li.nav-link.active, .nav-pills .show>.nav-link
  transition .2s

.footer__ul-a
  color inherit

.footer__socials-item
  transition .3s

.footer__socials-item:hover
  transition .2s

.footer__socials-item.fa-instagram:hover
  background #D92E7F
  border-color #D92E7F

.footer__socials-item.fa-vk:hover
  background #45668e
  border-color #45668e

.fa-instagram:hover, .fa-vk:hover
  color white
  transition .2s

.footer__title
  margin-bottom 30px
  padding-bottom 23px

.title-big
  line-height 1.3em

input
  transition .2s

input:focus
  transition .1s

.slider__form input
  transition .2s

.slider__form input:focus
  transition .1s
  background-color rgba(255,255,255,0.3)

.getcat__note
  font-size 15px

.slider__txt
  text-transform none

.slider__title
  font-size 1.9em
  line-height .9em
  text-shadow 0 0 15px rgba(0,0,0,.3)

.slider__txt-wrapper
  position relative

.slider__coub
  position absolute
  left -20px
  width 200px
  height 200px
  border 5px solid #f28c07
  border-right none
  top -35px
  z-index -1

.slider__coub before
  content ''
  width 5px
  height 15px
  background #f28c07
  position absolute
  right 0
  top 0

.slider__coub after
  content ''
  width 5px
  height 15px
  background #f28c07
  position absolute
  right 0
  bottom 0
