siteWidth = 1200px // Ширина сайта

clrBgGreyHeader = #383838 // Серый фон шапка
clrBlue = #00427b // Основной синий
clrBgLightBlue = #ebebeb // Голудой фон
txtGreyHeader = #b0b0b0 // Серый текст на темном - шапка
headerIcons = #646464 // Иконки в шапке


txtGreyH1 = #333333 // Серый заголовок H1
txtOrangeH1 = #333333 // Оранжевый заголовок H1

txtGreyBlockTtl = #222222 // Серый заголовок блока
txtGreyBlockCntnt = #666666 // Серый контент блока
txtGreyTxt = #555555 // Серый обычный текст
txtGreyDarkCalc = #2f2f2f // Темно серый цвет в калькуляторе
txtGreyLightCalc = #cccccc // Светло серый цвет в калькуляторе

txtBtnCardOrange = #ff6238 // Оранжеый текст на кнопках в карточках
txtMenuBtn = #202020 // Текст кнопки в меню черный
txtMenuBtnOrange = #ff9000 // Текст кнопки в меню оранжевый

orangeCalc = #ff7603 // Оранжевый цвет в калькуляторе

txtGreyFooter = #646464 // Серый тест в футере(под логотипом)
txtGreyDarkFooter = #b0b0b0 // Серый тест в футере темный
txtGreyLightFooter = #b1b1b1 // Серый тест в футере светлый

txtCopyright = #a1a1a1 // Серый текст копирайта
bgCopyrigth = #00427b // Фон копирайта

txtOtzivi = #555555 // Текст в отзывах
