extends /blocks/layout-default/layout-default
include /blocks/1header/header
include /blocks/2slider/slider
include /blocks/3choosejal/choosejal


block head
	- var pageTitle = 'Clever | Landing Page';

block content
	// Хэдер
	+header
	// Слайдер
	+slider
	// Выбирая жалюзи вы получаете
	+choosejal
