extends /blocks/layout-default/layout-default
include /blocks/1header/header
include /blocks/2slider/slider
include /blocks/3choosejal/choosejal
include /blocks/4jal/jal
include /blocks/5jalcount/jalcount
include /blocks/6whyus/whyus
include /blocks/7getcat/getcat
include /blocks/8myths/myths
include /blocks/9kar/kar
include /blocks/10choosekar/choosekar
include /blocks/11karcount/karcount
include /blocks/12karpreim/karpreim
include /blocks/13consult/consult
include /blocks/14mythskar/mythskar
include /blocks/15zamer/zamer
include /blocks/16otzivi/otzivi
include /blocks/17remind/remind
include /blocks/18footer/footer
include /blocks/19modals/modals
include /blocks/20photo/photo

block head
	- var pageTitle = 'Clever | Landing Page';

block content
	// Хэдер
	+header
	// Слайдер
	+slider
	// Выбирая жалюзи вы получаете
	+choosejal
	// Жалюзи
	+jal
	// Рассчитать стоимость жалюзи
	+jalcount
	// Почему стоит заказать жалюзи у нас
	+whyus
	// Полную коллекцию жалюзи смотрите
	+getcat
	// Мифы о жалюзи
	+myths
	// Фото с производства
	+photo
	// Электрокарнизы
	+kar
	// Выбирая электрокарнизы вы получаете
	+choosekar
	// Рассчитать стоимость карниза
	+karcount
	// Преимущества наших электрокарнизов
	+karpreim
	// Не знаете какие жалюзи?
	+consult
	// Мифы об электрокарнизах
	+mythskar
	// Запишитесь на бесптатный замер
	+zamer
	// Отзывы
	+otzivi
	// Напомнить мне позже
	+remind
	// Модальные окна
	+modals
	// Футер
	+footer
	
