mixin modals()
	+b.modals&attributes(attributes)
		block		
		// Обратный звонок
		.modal.fade.call-back#callBack(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role="document")
				.modal-content
					.modal-header
						img(src='images/modals-cancel.png' data-dismiss="modal" aria-label="Close").modal-close
						h5.modal-title Обратная связь
						.modal-comment Оставьте ваши контактные данные в форме ниже, и наш менеджер сам перезвонит вам, и ответит на все вопросы.
					form#callBack.modal-body
						.callback__input
							input(type='text' name='callbackName' onkeyup="this.setAttribute('value', this.value);" value='').callback__input-nput
							label(for='callbackName').callback-label Имя
						.callback__input
							input(type='text' onkeyup="this.setAttribute('value', this.value);" value='').callback__input-nput
							label(for='callbackName').callback-label Телефон
						button(type='submit' data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#thnx").callback__input-submit Отправить
		
		// Заказать замер
		.modal.fade.call-back#order(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role="document")
				.modal-content
					.modal-header
						img(src='images/modals-cancel.png' data-dismiss="modal" aria-label="Close").modal-close
						h5.modal-title Заказать замер
						.modal-comment Оставьте ваши контактные данные в форме ниже, и наш менеджер сам перезвонит вам, и ответит на все вопросы.
					form#order.modal-body
						.callback__input
							input(type='text' name='orderName' onkeyup="this.setAttribute('value', this.value);" value='').callback__input-nput
							label(for='orderName').callback-label Имя
						.callback__input
							input(type='text' name='orderPhone' onkeyup="this.setAttribute('value', this.value);" value='').callback__input-nput
							label(for='orderPhone').callback-label Телефон
						button(type='submit' data-dismiss="modal" aria-label="Close" data-toggle="modal" data-target="#thnx").callback__input-submit Отправить
		
		// Подробнее
		.modal.modal-details.fade#details(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role="document")
				.modal-content
					.modal-header
						img(src='images/modals-cancel.png' data-dismiss="modal" aria-label="Close").modal-close
					.modal-body
						+titleSimple('Пластиковые горизонтальные шторы')
						.container
							.row.jal__right-img-row
								.col-5.modal-jal-img
								.col.col-modal-jal-right
									ul.col.jal__right-ul
										li.jal__right-li сочетаются с классическими шторами
										li.jal__right-li надежная защита от солнца
										li.jal__right-li отталкивают пыль
									.jal__right-price.my-4 от
										span.kar-price-blue 9000 RUB
									a.jal__right-btn(data-toggle="modal" data-target="#order" data-dismiss="modal" aria-label="Close")
										+headerBtn('Заказать')
							.row
								.jal__right-txt
									.jal__right-txt-preview Vivamus magna justo, lacinia eget consectetur sed, convallis at tellus. Praesent sapien massa, convallis a pellentesque nec, egestas non nisi. Donec rutrum congue leo eget malesuada. Pellentesque in ipsum id orci porta dapibus.
									.jal__right-txt-more#modalMore.collapse 
										.jal__right-txt-more-wrap Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec velit neque, auctor sit amet aliquam vel, ullamcorper sit amet ligula. Proin eget tortor risus. Vivamus suscipit tortor eget felis porttitor volutpat. Donec sollicitudin molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque velit nisi, pretium ut lacinia in, elementum id enim.
									.jal__right-txt-more-btn.collapsed(data-toggle="collapse" data-target="#modalMore") Смотреть весь текст
									
		// Спасибо за покупку
		.modal.modal-details.fade#thnx(tabindex="-1" role="dialog" aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role="document")
				.modal-content
					.modal-header
						img(src='images/modals-cancel.png' data-dismiss="modal" aria-label="Close").modal-close
					.modal-body
						.container
							.thnx-title
								+titleSimple('Добрый день!')
							.thnx-content
								img(src='images/modal-thnx.png').thnx-content__img.float-right
								| Меня зовут 
								span.font-bold Владимир Жмур
								| , я основатель компании "КЛЕВЕР".
								br
								| Я искренне рад, что Вы решили сделать у нас заказ. Как только мы приедем к Вам, сделаем замер, изготовим заказ и доставим его Вам, Вы станете владельцем выбранного Вами товара, и убедитесь, что это было лучшее решение.
								br
								.thnx-separ
								span.font-bold Почему я в этом уверен? 
								br
								| Ведь я сам часто являюсь клиентом различных фирм и совершаю покупки в интернете. И я знаю, как легко попасть на различные уловки и получить совсем не то, чего ожидаешь.
								br
								.thnx-separ
								span.font-bold Мы решили это исправить. 
								| Наша компания имеет высокую оценку клиентов за качество продукта, и мы даем гарантию 2 года на жалюзи и 3 года на электрокарнизы. На нашу работу гарантия бессрочная!
								br
								.thnx-separ
								span.font-bold Поэтому добро пожаловать в новый мир ответственного сервиса! 
								| Ах да, когда мы привезем Ваш заказ, обязательно заберите небольшой подарок у нашего сотрудника.
								br
								| Это нечто особенное! Договорились?
								.thnx-separ
									
		// Текст о жалюзи
		#jalmodal.modal.modal-details.fade(tabindex='-1' role='dialog' aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role='document')
				.modal-content
					.modal-header
						img.modal-close(src='images/modals-cancel.png' data-dismiss='modal' aria-label='Close')
					.modal-body
						.container
							.thnx-title
								.title-simple Текст о жалюзи
							.thnx-content Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
									
		// Текст о карнизах
		#cartmodal.modal.modal-details.fade(tabindex='-1' role='dialog' aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role='document')
				.modal-content
					.modal-header
						img.modal-close(src='images/modals-cancel.png' data-dismiss='modal' aria-label='Close')
					.modal-body
						.container
							.cart.row
								.col-12.d-flex.flex-row.justify-content-around
									.cart__product
										.cart__product.cart__ttl Название
										//- .cart__product.cart__product-res
									.cart__height
										.cart__height.cart__ttl Высота, см
										//- .cart__height.cart__height-res
									.cart__width
										.cart__width.cart__ttl Ширина, см
										//- .cart__width.cart__width-res
									.cart__name
										.cart__name.cart__ttl Имя
										//- .cart__name.cart__name-res
									.cart__phone
										.cart__phone.cart__ttl Телефон
										//- .cart__phone.cart__phone-res
									.cart__remove
										.cart__remove.cart__ttl Удалить
										//- .cart__remove.cart__remove-res
							//- Скрытая таблица
							table.cart__table.d-none
								tr
									th Название
									th Высота, см
									th Ширина, см
									th Имя
									th Телефон
							.row.justify-content-center
								.col-12.py-4.text-center
									//- Кнопка отправить
									.cart__send.btn-simple.slider__submit.jalcount__submit Отправить
							//- Скрытая форма
							form#cart.d-none(method='get')
								textarea#cartInput(name='form' style='width: 1000px; height: 500px;')
								input(type='submit')#cartSubmit
									
		// Корзина
		#karmodal.modal.modal-details.fade(tabindex='-1' role='dialog' aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role='document')
				.modal-content
					.modal-header
						img.modal-close(src='images/modals-cancel.png' data-dismiss='modal' aria-label='Close')
					.modal-body
						.container
							.thnx-title
								.title-simple Текст о карнизах
							.thnx-content Nulla porttitor accumsan tincidunt. Curabitur non nulla sit amet nisl tempus convallis quis ac lectus. Donec sollicitudin molestie malesuada. Vestibulum ac diam sit amet quam vehicula elementum sed sit amet dui. Nulla quis lorem ut libero malesuada feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque in ipsum id orci porta dapibus. Cras ultricies ligula sed magna dictum porta. Pellentesque in ipsum id orci porta dapibus. Mauris blandit aliquet elit, eget tincidunt nibh pulvinar a.
								
		// Полтитика конфиденциальности
		#privacy.modal.modal-details.fade(tabindex='-1' role='dialog' aria-hidden="true")
			.modal-dialog.modal-dialog-centered(role='document')
				.modal-content
					.modal-header
						img.modal-close(src='images/modals-cancel.png' data-dismiss='modal' aria-label='Close')
					.modal-body
						.container
							.thnx-title
								.title-simple Политика конфиденциальности
							.thnx-content
								p
									| Настоящая Политика конфиденциальности персональных данных (далее – Политика конфиденциальности) действует в отношении всей информации, которую сайт «айболит.бел», расположенный на доменном имени айболит.бел, может получить о Пользователе во время использования сайта, программ и продуктов.
								p
									br
									| 1. Определение терминов
									br
									| 1.1 В настоящей Политике конфиденциальности используются следующие термины:
									br
									| 1.1.1. «Администрация сайта (далее – Администрация сайта) » – уполномоченные сотрудники на управления сайтом, действующие от имени айболит.бел, которые организуют и (или) осуществляет обработку персональных данных, а также определяет цели обработки персональных данных, состав персональных данных, подлежащих обработке, действия (операции), совершаемые с персональными данными.
									br
									| 1.1.2. «Персональные данные» - любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту персональных данных).
									br
									| 1.1.3. «Обработка персональных данных» - любое действие (операция) или совокупность действий (операций), совершаемых с использованием средств автоматизации или без использования таких средств с персональными данными, включая сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (распространение, предоставление, доступ), обезличивание, блокирование, удаление, уничтожение персональных данных.
									br
									| 1.1.4. «Конфиденциальность персональных данных» - обязательное для соблюдения Оператором или иным получившим доступ к персональным данным лицом требование не допускать их распространения без согласия субъекта персональных данных или наличия иного законного основания.
									br
									| 1.1.5. «Пользователь сайта (далее - Пользователь)» – лицо, имеющее доступ к Сайту, посредством сети Интернет и использующее Сайт интернет-магазина.
									br
									| 1.1.6. «Cookies» — небольшой фрагмент данных, отправленный веб-сервером и хранимый на компьютере пользователя, который веб-клиент или веб-браузер каждый раз пересылает веб-серверу в HTTP-запросе при попытке открыть страницу соответствующего сайта.
									br
									| 1.1.7. «IP-адрес» — уникальный сетевой адрес узла в компьютерной сети, построенной по протоколу
								p
									| 2. ОБЩИЕ ПОЛОЖЕНИЯ
									br
									| 2.1. Использование Пользователем сайта означает согласие с настоящей Политикой конфиденциальности и условиями обработки персональных данных Пользователя.
									br
									| 2.2. В случае несогласия с условиями Политики конфиденциальности Пользователь должен прекратить использование сайта ветеринарной клиники айболит.бел
									br
									| 2.3. Настоящая Политика конфиденциальности применяется только к сайту айболит.бел. Сайт не контролирует и не несет ответственность за сайты третьих лиц.
									br
									| 2.4. Администрация сайта не проверяет достоверность персональных данных, предоставляемых Пользователем сайта.
								p 3. Предмет политики конфиденциальности
								p
									| 3.1. Настоящая Политика конфиденциальности устанавливает обязательства Администрации сайта “айболит.бел” по неразглашению и обеспечению режима защиты конфиденциальности персональных данных, которые Пользователь предоставляет по запросу Администрации сайта при регистрации на сайте интернет-магазина или при оформлении заказа для приобретения Товара.
									br
									| 3.2. Персональные данные, разрешённые к обработке в рамках настоящей Политики конфиденциальности, предоставляются Пользователем путём заполнения заявки на сайте айболит.бел включают в себя следующую информацию ваше имя ваш номет телефона имя вашего питомца:
									br
									| 3.2.1. Ваше имя Пользователя;
									br
									| 3.2.2. Контактный телефон Пользователя;
									br
									| 3.2.3. Имя вашего питомца
									br
									| 3.2.4. Причина обрашения.
									br
									|  3.3. Любая иная персональная информация неоговоренная выше (история покупок, используемые браузеры и операционные системы и т.д.) подлежит надежному хранению и нераспространению, за исключением случаев, предусмотренных в п.п. 5.2. и 5.3. настоящей Политики конфиденциальности.
									br
									| 4. ЦЕЛИ СБОРА ПЕРСОНАЛЬНОЙ ИНФОРМАЦИИ ПОЛЬЗОВАТЕЛЯ
									br
									| 4.1. Персональные данные Пользователя Администрация сайта может использовать в целях:.
									br
									| 4.2. В целях анализа целевых желаний клиентов и персонализации  своих услуг под клиентов
									br
									| 4.3. Общие маркетинговые исследования
									br
									| 5. СПОСОБЫ И СРОКИ ОБРАБОТКИ ПЕРСОНАЛЬНОЙ
									br
									| 5.1. Обработка персональных данных Пользователя осуществляется без ограничения срока, любым законным способом, в том числе в информационных системах персональных данных с использованием средств автоматизации или без использования таких средств.
									br
									| 5.2. Персональные данные Пользователя могут быть переданы уполномоченным органам государственной власти Республики Беларусь только по основаниям и в порядке, установленным законодательством Республики Беларусь.
									br
									| 5.3. При утрате или разглашении персональных данных Администрация сайта информирует Пользователя об утрате или разглашении персональных данных.
									br
									| 5.4. Администрация сайта принимает необходимые организационные и технические меры для защиты персональной информации Пользователя от неправомерного или случайного доступа, уничтожения, изменения, блокирования, копирования, распространения, а также от иных неправомерных действий третьих лиц.
									br
									| 5.5. Администрация сайта совместно с Пользователем принимает все необходимые меры по предотвращению убытков или иных отрицательных последствий, вызванных утратой или разглашением персональных данных Пользователя.
									br
									| 6. ОБЯЗАТЕЛЬСТВА СТОРОН
								p
									| 6.1. Администрация сайта обязана:
									br
									| 6.2. Использовать полученную информацию исключительно для целей, указанных в п. 4 настоящей Политики конфиденциальности.
									br
									| 6.3. Обеспечить хранение конфиденциальной информации в тайне, не разглашать без предварительного письменного разрешения Пользователя, а также не осуществлять продажу, обмен, опубликование, либо разглашение иными возможными способами переданных персональных данных Пользователя, за исключением п.п. 5.2. и 5.3. настоящей Политики Конфиденциальности.
									br
									| 6.4. Принимать меры предосторожности для защиты конфиденциальности персональных данных Пользователя согласно порядку, обычно используемого для защиты такого рода информации в существующем деловом обороте.
									br
									| 6.5. Осуществить блокирование персональных данных, относящихся к соответствующему Пользователю, с момента обращения или запроса Пользователя или его законного представителя либо уполномоченного органа по защите прав субъектов персональных данных на период проверки, в случае выявления недостоверных персональных данных или неправомерных действий. 
									br
									| 7. ОТВЕТСТВЕННОСТЬ СТОРОН
									br
									| 7.1. Администрация сайта, не исполнившая свои обязательства, несёт ответственность за убытки, понесённые Пользователем в связи с неправомерным использованием персональных данных, в соответствии с законодательством Республики Беларусь, за исключением случаев, предусмотренных п.п. 5.2., 5.3. и 7.2. настоящей Политики Конфиденциальности.
									br
									| 7.2. В случае утраты или разглашения Конфиденциальной информации Администрация сайта не несёт ответственность, если данная конфиденциальная информация:
									br
									| 7.2.1. Стала публичным достоянием до её утраты или разглашения.
									br
									| 7.2.2. Была получена от третьей стороны до момента её получения Администрацией сайта.
									br
									| 7.2.3. Была разглашена с согласия Пользователя.
									br
									| 8. РАЗРЕШЕНИЕ СПОРОВ
									br
									| 8.1. До обращения в суд с иском по спорам, возникающим из отношений между Пользователем сайта и Администрацией сайта, обязательным является предъявление претензии (письменного предложения о добровольном урегулировании спора).
									br
									| 8.2 .Получатель претензии в течение 30 календарных дней со дня получения претензии, письменно уведомляет заявителя претензии о результатах рассмотрения претензии.
									br
									| 8.3. При не достижении соглашения спор будет передан на рассмотрение в судебный орган в соответствии с действующим законодательством Республики Беларусь.
									br
									| 8.4. К настоящей Политике конфиденциальности и отношениям между Пользователем и Администрацией сайта применяется действующее законодательство Республики Беларусь.
									br
									| 9. ДОПОЛНИТЕЛЬНЫЕ УСЛОВИЯ
									br
									| 9.1. Администрация сайта вправе вносить изменения в настоящую Политику конфиденциальности без согласия Пользователя.
									br
									| 9.2. Новая Политика конфиденциальности вступает в силу с момента ее размещения на Сайте интернет-магазина, если иное не предусмотрено новой редакцией Политики конфиденциальности.
									br
									| 9.3. Все предложения или вопросы по настоящей Политике конфиденциальности следует сообщать в разделе Контакты через форму обратной связи.
									br
									| 9.4. Действующая Политика конфиденциальности размещена на странице по адресу 
									br
									| https://top-clever.ru/
								p Обновлено «18» апреля 2018г.
