// Шапка

// Шапка верхняя
.header__top
	color txtGreyHeader
	background-color clrBgGreyHeader
	align-items center
	padding 5px 0
	font-family MullerLight
	font-size 14px

.header-socials
	color txtGreyHeader

.header-icon-color
	color headerIcons

.header__top-item-separator
	height 15px
	border-left 1px solid headerIcons

.header__top-item
	position relative
.header__top-item:after
	position absolute
	left 0
	font-family FontAwesome

// Шапка нижняя
.header__bottom
	background-color #fff

.header__btn-jal
	border-right 1px solid #dddddd
@media screen and (max-width 992px)
	.header__btn-jal
		border-right 0
@media screen and (min-width 992px)
	.header__logo
		position absolute
		top 5px
		left 15px
@media screen and (max-width 576px)
	.header__btn-col
		padding 0

.header__btn-kar,
.header__btn-jal
	text-transform uppercase
	color txtMenuBtn

.header__btn.active
	color txtMenuBtnOrange
	font-family MullerBold

.header__btn
	font-size 18px
	// height 69px

.header__btn-callback
	background linear-gradient(#1673c4, #00427b);
	color #fff
	font-family MullerLight

// /Шапка
