// Шапка

// Шапка верхняя
.header__top
	color #fff
	background-color grey
	align-items center

// .header__top-item
// 	position relative
// .header__top-item:after
// 	position absolute
// 	top 50%
// 	right 0
// 	height 15px
// 	transform translateY(-50%)
// 	content ''
// 	border-left 1px solid #fff
// .header__top-item:last-child:after
// 	display none

.header__top-item-separator
	border-left 1px solid #fff
	height 15px


// Шапка нижняя
.header-nav__item
	font-weight 600
.header-btn
	background-color grey
	color #fff
	padding 7px 10px
	border none

// .align-items-sm-start
// 	align-items flex-start !important
// /Шапка
