// Шапка

// Шапка верхняя
.header__top
	color txtGreyHeader
	background-color clrBgGreyHeader
	align-items center
	padding 5px 0
	font-family MullerLight
	font-size 14px

.header-socials
	font-size 20px
	color #b0b0b0

.header-icon-color
	font-size 16px
	color #b0b0b0

.header__top-item-separator
	height 15px
	border-left 1px solid headerIcons

.header__top-item
	position relative
.header__top-item:after
	position absolute
	left 0
	font-family FontAwesome

// Шапка нижняя
.header__bottom
	position relative
	z-index 1000
	background-color #fff
	box-shadow 0 5px 40px 0 rgba(0, 0, 0, .4)

.header__bottom-fixed
	position fixed
	top 0
	width 100%
	background-color #fff





.header__btn-jal
	border-right 1px solid #dddddd

.header__btn-jal:hover
	font-family MullerBold
	text-decoration none
	color txtMenuBtnOrange
.header__btn-kar:hover
	font-family MullerBold
	text-decoration none
	color txtMenuBtnOrange

@media screen and (max-width 992px)
	.header__btn-jal
		border-right 0
@media screen and (min-width 992px)
	.header__logo
		position absolute
		top 5px
		left 15px
@media screen and (max-width 576px)
	.header__btn-col
		padding 0

.header__btn-kar,
.header__btn-jal
	text-transform uppercase
	color #404040

.header__btn.active
	font-family MullerBold
	color txtMenuBtnOrange

.header__btn
	font-family MullerBold
	font-size 18px
	transition .2s ease

.header__btn-callback
	font-family MullerLight
	color #fff
	background linear-gradient(#1673c4, #00427b)

// /Шапка
