mixin karcount()
	+b.karcount.py-5&attributes(attributes)
		block
		.container
			.row.flex-row.d-flex.d-sm-block
				// Калькулятор
				.jalcalc.col-12.order-2.col-sm-6.float-sm-left.col-lg-4
					.jalcount__left-img-wrap-out.mt-4.mt-sm-1
						.jalcount__left-img-wrap-inn
							img(src='images/calc-window.png').jalcount__left-img
							// Горизонтальный ползунок
							.calc-horiz#karCalc
				// Заголовок
				.col-12.order-1.mb-3.col-sm-12.col-lg-12
					.row.justify-content-center
						.col-12.col-lg-8
							.jalcount__title
								+titleSimple('Рассчитать стоимость карниза для ваших окон')
				// Форма
				.col-12.order-3.col-sm-12.col-lg-12
					.row.justify-content-center
						.col-12.col-lg-8
							.row.my-3
								.col-12
									+jalcountInput('Тип карниза')
								.col-12
									.jalcount__input-ttl Высота, см
									input(type='number' value='' style='text-align: center;').jalcount__input-inpt#karWidth
								.col-6
									+jalcountInput('Ваше имя')
								.col-6
									+jalcountInput('Номер телефона')
								.col-12.my-2.align-items-center.flex-column.d-flex
									.jalcount__note.mb-3 * Отправляя форму, Вы соглашаетесь с нашей 
										div(style='text-decoration: underline;') политикой конфиденциальности
									.jalcount__btn
