// Рассчитать стоимость карниза
.karcount
	display block
	background-image url('../../images/karcount-img-bg.png')
	background-position center
	background-size cover
	.noUi-target.calc-horiz
		top 90px
	.jalcount__left-img
		margin-top 120px
	// вертикальные штрихи
	.noUi-marker-horizontal.noUi-marker-large
		bottom 100%
	.noUi-value
		top -40px
	.noUi-target.calc-horiz:before
		bottom 55px
		
	// адаптация
@media screen and (max-width 768px)
	.karcount
		.jalcount__left-img-wrap-out
			padding-left 0 !important
// /Рассчитать стоимость карниза
