// Запишитесь на бесптатный замер

.zamer
	padding 60px 0
	display block
	background url('../../images/zamer-bg.png')
	background-size cover
	background-position center

// /Запишитесь на бесптатный замер
