// Запишитесь на бесптатный замер

.zamer
	padding 60px 0
	display block
	background url('../../images/zamer-bg.png')
	background-position center
	background-size cover
	box-shadow 0 0 40px 0 rgba(0, 0, 0, .5)
	position relative
	z-index 20

// /Запишитесь на бесптатный замер
