// Запишитесь на бесптатный замер

.zamer
	padding 60px 0
	display block
	background url('../../images/zamer-bg.png')
	background-position center
	background-size cover
	border-bottom 16px solid #E4E4E4

// /Запишитесь на бесптатный замер
