mixin zamer()
	+b.zamer&attributes(attributes)
		block
		.container
			.d-flex.flex-column.align-items-center
				.title-big Запишитесь на 
					span.font-bold бесплатный замер 
					span и консультацию в удобное для Вас время
				.d-flex.justify-content-center.flex-wrap
					input(placeholder='Имя').getcat__input
					input(placeholder='+7 (___) ___-__-__').getcat__input
					input(placeholder='E-mail').getcat__input
				.getcat__note 
					span.orange-star * 
					| Отправляя форму, Вы соглашаетесь с нашей u политикой конфиденциальности
				a.getcat__btn(data-toggle='modal' data-target='#thnx')
					+headerBtn('Записаться')
