mixin mythskar()
	+b.mythskar.py-5&attributes(attributes)
		block
		.container
			.title-center
				span.orange-myth Мифы 
				| об электрокарнизах
			.row.align-items-stretch
				.col-12.col-md-6.my-3
					.myths__item.aos-init(data-aos='fade-right')
						.myths__item-top
							img(src='images/myth-ques.png').myths__item-top-img
							.myths__item-right Часто выходят из строя
						.myths__item-bottom
							img(src='images/myth-thumb.png').myths__item-left-img
							.myths__item-right.myths__item-right-txt – Мы используем только качественные механизмы и комплектующие и 
								span.font-bold предоставляем гарантию 
								| 3 года на все электрокарнизы.
				.col-12.col-md-6.my-3
					.myths__item.aos-init(data-aos='fade-left')
						.myths__item-top
							img(src='images/myth-ques.png').myths__item-top-img
							.myths__item-right А если электричество отключат?
						.myths__item-bottom
							img(src='images/myth-thumb.png').myths__item-left-img
							.myths__item-right.myths__item-right-txt – При отсутствии электричества электрокарнизы 
								span.font-bold управляются как обычные шторы.
				.col-12.col-md-6.my-3
					.myths__item.aos-init(data-aos='fade-right')
						.myths__item-top
							img(src='images/myth-ques.png').myths__item-top-img
							.myths__item-right Электрокарнизы - это дорого
						.myths__item-bottom
							img(src='images/myth-thumb.png').myths__item-left-img
							.myths__item-right.myths__item-right-txt – Электрокарнизы это ваши 
								span.font-bold инвестиции в новый уровень комфорта.
				.col-12.col-md-6.my-3
					.myths__item.aos-init(data-aos='fade-left')
						.myths__item-top
							img(src='images/myth-ques.png').myths__item-top-img
							.myths__item-right Электрокарнизы - это небезопасно
						.myths__item-bottom
							img(src='images/myth-thumb.png').myths__item-left-img
							.myths__item-right.myths__item-right-txt - 
								span.font-bold Наши моторы абсолютно безопасны
								| , имеют класс задиты IP-41, и класс изоляциии E.
