// Слайдер
.slider
	display block
	font-size 30px
	color #fff
	text-transform uppercase
	background-color lightgrey
	background-image url(../../images/slider.png)
	background-size cover

.slider__button
	max-width 180px

.slider__text
	display flex
	flex-direction column
	justify-content center
	height 100%
	line-height 40px

// форма в слайдере
.slider-form
	padding 20px 30px
	display flex
	flex-direction column
	justify-content center
	height 100%
	text-align center
	background-color rgba(#000000, .5)

.slider-form__title
	margin-bottom 40px
	font-size 25px
	text-transform none
	text-align center

	// таймер
.slider__timer-count
	margin-bottom 10px
	padding 10px 20px
	display flex
	justify-content space-between
	background linear-gradient(rgba(#000000, 0), rgba(#000000, .3))

.slider__timer-count-item
	display inline-block

.slider__timer-ttl
	margin-bottom 5px
	font-size 14px
	text-align center
.slider__timer-count-item-num
	margin-bottom 3px
	font-family MullerLight
	font-size 30px
.slider__timer-count-item-txt
	font-size 14px
	color #969696

	// форма
.slider__input,
.slider__submit
	margin 10px 0
	padding 11px
	width 100%
	font-size 17px
	text-align center
	color #c8c8c8

.slider__input
	color #c8c8c8
	background-color rgba(#ffffff, .2)
	border none
.slider__input::placeholder
	color #c8c8c8


.slider__submit
	margin 30px 0
	height 45px
	color #fff
	box-shadow 0 5px 40px 0 rgba(0, 0, 0, .4)

.btn-simple
	color #fff
	background linear-gradient(#ffb063, #fa4a2d)
	border none
.btn-simple:focus
	outline none

	// адаптация
@media screen and (max-width 375px)
	.slider__txt
		font-size 25px
	.slider-form
		padding 20px 15px

// /Слайдер
