// Слайдер
.slider
	position relative
	display block
	height 570px
	font-size 30px
	color #fff
	text-transform uppercase
	z-index 20
	overflow hidden
@media screen and (max-width 1100px)
	.slider
		height auto
	.slider #slider__video
		height 100% !important

.slider:before
	position absolute
	z-index -1
	top 0
	left 0
	width 100%
	height 100%
	content ''
	background rgba(0, 0, 0, .25)

.slider #slider__video
	position absolute
	z-index -100
	top 0
	left 0
	width 100%
	height auto
	object-fit cover
	overflow hidden


.slider__button
	max-width 180px

// Текст
.slider__title
	font-size 1.9em
	line-height .9em
	text-shadow 0 0 15px rgba(0, 0, 0, .3)
	text-transform uppercase

.slider__text
	display flex
	flex-direction column
	justify-content center
	height 50%
	line-height 40px
	background-color rgba(208, 208, 208, .2)
	max-width 710px
	min-height 290px
@media screen and (max-width 767px)
	.slider__title
		font-size 1.2em !important
	.slider__txt
		font-size 1em !important
@media screen and (max-width 424px)
	.slider__title
		font-size 1em !important
	.slider__txt
		line-height .9em !important
		margin-top 10px
@media screen and (max-width 374px)
	.slider__title
		font-size .8em !important
		margin-top 10px
	.slider__txt
		font-size .9em !important
		margin-top 20px

.slider__txt-wrapper
	position relative
	text-transform none

.slider__coub
	position absolute
	left -20px
	width 200px
	height 200px
	border 5px solid #f28c07
	border-right none
	top -35px
	z-index -1

.slider__coub:before
	content ''
	width 5px
	height 15px
	background #f28c07
	position absolute
	right 0
	top 0

.slider__coub:after
	content ''
	width 5px
	height 15px
	background #f28c07
	position absolute
	right 0
	bottom 0



// форма в слайдере
.slider-form
	padding 40px 30px 20px
	display flex
	flex-direction column
	justify-content center
	height 100%
	text-align center
	background-color rgba(#000000, .5)

.slider-form__title
	margin-bottom 40px
	font-size 25px
	text-transform none
	text-align center

	// таймер
.slider__timer-count
	margin-bottom 10px
	padding 10px 20px
	display flex
	justify-content space-between
	background linear-gradient(rgba(#000000, 0), rgba(#000000, .3))

.slider__timer-count-item
	display inline-block

.slider__timer-ttl
	margin-bottom 5px
	font-size 14px
	text-align center
.slider__timer-count-item-num
	margin-bottom 3px
	font-family MullerLight
	font-size 30px
.slider__timer-count-item-txt
	font-size 14px
	color #969696

	// форма
.slider__input,
.slider__submit
	margin 10px 0
	padding 11px
	width 100%
	font-size 17px
	text-align center
	color #c8c8c8

.slider__input
	color #c8c8c8
	background-color rgba(#ffffff, .2)
	border none
.slider__input::placeholder
	color #c8c8c8


.slider__submit
	margin 30px 0
	height 45px
	color #fff
	box-shadow 0 5px 40px 0 rgba(0, 0, 0, .4)


.btn-simple
	color #fff
	background linear-gradient(#ffb063, #fa4a2d)
	border none
.btn-simple:focus
	outline none
.btn-simple:hover
	background linear-gradient(#f58c26, #f58c26)

	// адаптация
@media screen and (max-width 375px)
	.slider__txt
		font-size 25px
	.slider-form
		padding 20px 15px


// /Слайдер
