mixin slider()
	+b.slider.d-flex.align-items-center&attributes(attributes)
		block
		.container.h100p
			.row.h100p.flex-column.flex-md-row
				video#slider__video(autoplay muted loop)
					source(src="video/videoplayback_clever.mp4" type="video/mp4")
				.col-12.col-md.flex-column.justify-content-center.d-flex
					.slider__text.pt-4.pb-2
						.slider__txt-wrapper
							.slider__coub
							.slider__title.font-bold.aos-init(data-aos='fade-right') Жалюзи и электрокарнизы
							.slider__txt.font-light.aos-init(data-aos='fade-right') От производителя по всему крыму
				.col-12.col-md-6.col-lg-4
					.slider-form.h100p
						// Заголовок
						.slider-form__title
							.font-bold Закажите замер
							.font-light до конца недели
								br
								| и получите
								span.font-bold.c-orange скидку 10%
						// Таймер
						.slider__timer
							.slider__timer-ttl до конца акции:
							// счетчик
							input#datefortimer(type="hidden" value="2018-05-20")
							.slider__timer-count#timer
								.slider__timer-count-item
									.slider__timer-count-item-num.days
									.slider__timer-count-item-txt дней
								.slider__timer-count-item
									.slider__timer-count-item-num.hours
									.slider__timer-count-item-txt часов
								.slider__timer-count-item
									.slider__timer-count-item-num.minutes
									.slider__timer-count-item-txt минут
								.slider__timer-count-item
									.slider__timer-count-item-num.seconds
									.slider__timer-count-item-txt секунд
						// форма
						form.slider__form
							input(type='text' placeholder='Имя').slider__input
							input(type='tel' placeholder='+7 (___) ___-__-__').slider__input
							.slider__submit-wrap
								button(type='submit' data-toggle='modal' data-target='#thnx').slider__submit.btn-simple Заказать замер
