mixin slider()
	+b.slider.d-flex.align-items-center&attributes(attributes)
		block
		.container.mb-5
			.slider__title Жалюзи и электрокарнизы
				br
				| От производителя в крыму
			.slider__txt.py-4 Закажите замер до конца недели и получите скидку 10%
			.slider__button
				+headerBtn('Заказать замер')
			
