// Слайдер
.slider
	display block
	height 400px
	background-color lightgrey
	color #fff
	font-size 30px
	text-transform uppercase
	background-image url(../../images/slider.png)
	background-size cover

.slider__button
	max-width 180px

.slider__text
	position absolute
	top 50%
	transform translateY(-50%)
	line-height 40px

// форма в слайдере
.slider-form
	background-color rgba(#000000, 0.5)
	height 100%

.slider-form__title
	font-size 26px
	text-transform none
	text-align center
// /Слайдер
