mixin choosejal()
	+b.choosejal.my-3&attributes(attributes)
		block
		.container
			mixin titleCenter(title)
				h1.title-center= title
			+titleCenter('Выбирая жалюзи вы получаете:')
			.row
				.col
					mixin chooseItem(img, title, text)
						.choose-item
							.choose-item__img
								.choose-item__img-vert
								img(src= img).choose-item__img-img
							.choose-item__content
								.choose-item__content-title= title
								.choose-item__content-txt= text
					+chooseItem('images/cj-sun.png', 'Защиту от солнца', '')
					+chooseItem('images/cj-charity.png', 'Простоту ухода', 'просто протрите влажной тряпкой')
					+chooseItem('images/cj-style.png', 'Элемент стиля', 'более 500 моделей, цветов и фактур, а также индивидуальные дизайны')
				.col
					+chooseItem('images/cj-light.png', 'Регулирование освещения', 'в зависимости от яркости света')
					+chooseItem('images/cj-time.png', 'долговечность', '')
					+chooseItem('images/cj-photo.png', 'Фотожалюзи', 'печать любого изображения на жалюзи - тренд сезона')
				.col
					+chooseItem('images/cj-calc.png', 'Экономию пространства', 'жалюзи можно установить в проем окна')
					+chooseItem('images/cj-hide.png', 'Защиту от посторонних взглядов', '')
					+chooseItem('images/cj-suit.png', 'Респектабельность', 'нанесение логотипа а контактных данных компании')
