// Выбирая жалюзи вы получаете
.choosejal
	padding 70px 0
	display block
	background-color #fff

// Заголовок центральный
.title-center
	position relative
	margin-bottom 30px
	padding-bottom 10px
	font-size 30px
	text-align center
	color #333

.title-center:after
	position absolute
	left 50%
	bottom 0
	width 130px
	height 1px
	transform translateX(-50%)
	content ''
	border-bottom 2px solid #bababa
// /Заголовок центральный

.choose-item
	display flex
	align-items stretch
	// height 159px
	// padding 40px 0


.choose-item__content-title
	margin-top 40px
	text-transform uppercase
	font-size 18px
	line-height 24px
	color #222
.choose-item__content-txt
	font-size 16px
	color #666
	line-height 18px
	font-family MullerLight

.choose-item__img
	position relative
	margin-right 10px
.choose-item__img-img
	position relative
	z-index 20

.choose-item__img-vert
	position absolute
	top 40px
	left 50%
	transform translateX(-50%)
	z-index 10
	height 100%
	width 60px
	background-color #e8e8e8

.choosejal-col
	.choose-item__img-vert
		top 50px
		bottom 0

	.choose-item:last-child .choose-item__img-vert
		display none


	// адаптация
@media screen and (max-width 375px)
	.choose-item__content-title
		font-size 17px

.choosejal
	.choose-item
		min-height 140px

@media screen and (max-width 992px)
	.choosekar
		.col3
			.choose-item
				height inherit
@media screen and (max-width 767px)
	.choosekar
		.col1
		.col2
			.choose-item
				height inherit
// /Выбирая жалюзи вы получаете
