mixin choosejal()
	+b.choosejal&attributes(attributes)
		block
		.container
			mixin titleCenter(title)
				h1.title-center= title
			+titleCenter('Выбирая жалюзи вы получаете:')
			.row
				.col.col1.choosejal-col
					mixin chooseItem(img, title, text)
						.choose-item
							.choose-item__img
								.choose-item__img-vert
								.choose-item__img-img.aos-init(data-aos="fade-up")
									img(src= img)
							.choose-item__content
								.choose-item__content-title= title
								.choose-item__content-txt= text
					+chooseItem('images/cj-sun-nb.png', 'Защиту от солнца', '')
					+chooseItem('images/cj-charity-nb.png', 'Простоту ухода', 'просто протрите влажной тряпкой')
					+chooseItem('images/cj-style-nb.png', 'Элемент стиля', 'более 500 моделей, цветов и фактур, а также индивидуальные дизайны')
				.col.col2.choosejal-col
					+chooseItem('images/cj-light-nb.png', 'Регулирование освещения', 'в зависимости от яркости света')
					+chooseItem('images/cj-time-nb.png', 'долговечность', '')
					+chooseItem('images/cj-photo-nb.png', 'Фотожалюзи', 'печать любого изображения на жалюзи - тренд сезона')
				.col.col3.choosejal-col
					+chooseItem('images/cj-calc-nb.png', 'Экономию пространства', 'жалюзи можно установить в проем окна')
					+chooseItem('images/cj-hide-nb.png', 'Защиту от посторонних взглядов', '')
					+chooseItem('images/cj-suit-nb.png', 'Респектабельность', 'нанесение логотипа а контактных данных компании')
