// Жалюзи
.jal
	position relative
	display block

#jaluziAnchor
	position absolute
	top -40px

// Жалюзи заголовок Левый
.title-left
	position relative
	display flex
	align-items baseline
	margin-bottom 30px
	padding-bottom 10px

.title-left__title
	display inline-block
	font-family MullerBold
	font-size 36px
	color #00427b
	text-transform uppercase		

.title-left__sep
	margin-left 20px
	width 100%
	height 1px
	border-bottom 2px solid #bababa

// Боковое меню
.side-nav__li
	padding 20px 15px
	font-size 18px
	background-color #1a5588
	border-bottom 2px solid #00427b
.side-nav__li:last-child
	border-bottom none
.nav-pills .side-nav__li.nav-link.active, .nav-pills .show>.nav-link
	color #fff
	background-color #336895
	border-left 8px solid #fff
.nav-pills .side-nav__li.nav-link
	color #fff
	border-radius 0
// /Жалюзи заголовок Левый

// .jal__right-wrap
// 	margin-left 30px

// Заголовок обычный
.title-simple
	margin-bottom 25px
	font-size 30px
	color #333
.jal__right-txt
	font-size 14px
	line-height 24px
	color #555

// Смотреть весь текст
.jal__right-txt-more-btn
	position relative
	margin 15px 0
	display inline-block
	text-decoration none
	cursor pointer
	color rgba(#000000, 0)
	transition .2s ease
.jal__right-txt-more-btn:hover
	text-decoration underline
.jal__right-txt-more-btn.collapsed
	color #555555

.jal__right-txt-more-btn.collapsed:before
	position absolute
	top 0
	left 0
	content 'Свернуть'
	color rgba(#000000, 0)
	transition .2s ease

.jal__right-txt-more-btn:hover:before
	text-decoration underline
.jal__right-txt-more-btn:before
	position absolute
	top 0
	left 0
	content 'Свернуть'
	color #555

// Жалюзи карточка
.jal__card
	padding-bottom 10px
	display flex
	flex-direction column
	height 400px
	background-color #fff
	box-shadow 0 0 30px 0 rgba(0, 0, 0, .25)
	transition .2s ease

.jal__card:hover
	margin-top -10px
	box-shadow 0 24px 30px 0 rgba(0, 0, 0, .35)

.jal__card-img
	margin-bottom 15px
	width 100%
	height 250px
	background-color lightgrey
	background-position center
	background-size cover
.jal__card-title
	margin-bottom 15px
	padding 0 10px
	font-size 14px
	line-height 18px
	text-align center
	text-transform uppercase
	color #222
.jal__card-price
	margin-bottom 5px
	font-size 14px
	line-height 18px
	text-align center
	color #666
.jal__card-price-num
	display inline-block
	font-weight 600
	color #00427b

.jal__card-more
	margin 20px 0
	text-align center
.jal__card-more-a
	padding 10px 20px
	font-family MullerLight
	color #ff943d
	background #fff
	border 1px dashed #ff943d
	transition .2s ease
.jal__card-more-a:hover
	text-decoration none
	color #fff
	background linear-gradient(#ffb063, #fa4a2d)
	border 1px solid #ff943d

// /Жалюзи
