// Жалюзи
.jal
	display block

// Жалюзи заголовок Левый
.title-left
	display flex
	align-items baseline
	margin-bottom 30px
	padding-bottom 10px

.title-left__title
	display inline-block
	font-size 35px
	text-transform uppercase

.title-left__sep
	margin-left 20px
	width 100%
	height 1px
	border-bottom 2px solid grey

// Боковое меню
.side-nav__li
	margin-bottom 2px
	padding 20px 15px
	font-size 18px
	background-color #fff
.side-nav__li.active
	color #fff
	background-color grey
// /Жалюзи заголовок Левый

// Заголовок обычный
.title-simple
	margin-bottom 25px
	font-size 30px
.jal__right-txt
	line-height 25px

// Смотреть весь текст
.jal__right-txt-more-btn
	margin 15px 0
	display inline-block
	text-decoration none
	cursor pointer
.jal__right-txt-more-btn:hover
	text-decoration underline

// Жалюзи карточка
.jal__card
	padding-bottom 10px
	display flex
	flex-direction column
	height 100%
	background-color #fff
.jal__card-img
	margin-bottom 15px
	width 100%
	height 250px
	background-color lightgrey
.jal__card-title
	margin-bottom 15px
	text-align center
	text-transform uppercase
.jal__card-price
	margin-bottom 15px
	text-align center
.jal__card-price-num
	display inline-block
	font-weight 600

.jal__card-more
	margin 20px 0
	text-align center
.jal__card-more-a
	padding 10px 20px
	color grey
	background-color lightgrey
.jal__card-more-a:hover
	text-decoration none
	color grey


// /Жалюзи
