// Жалюзи
.jal
	position relative
	display block
	background-image url('../../images/jal-bg-small.png')

#jaluziAnchor
	position absolute
	top -40px

// Жалюзи заголовок Левый
.title-left
	position relative
	display flex
	align-items baseline
	margin-bottom 30px
	padding-bottom 10px

.title-left__title
	position relative
	display inline-block
	font-family MullerBold
	font-size 36px
	color #00427b
	text-transform uppercase

.title-left__info
	position absolute
	top -10px
	right -28px
	font-size 21px
	color #acacac
	cursor pointer
	transition .2s ease
.title-left__info:hover
	color #949494

.title-left__sep
	margin-left 20px
	width 100%
	height 1px
	border-bottom 2px solid #bababa

// Боковое меню
.side-nav__li
	position relative
	padding 20px 15px
	font-size 18px
	background-color #1a5588
	border-bottom 2px solid #00427b
	transition .2s ease
	overflow hidden
.side-nav__li:hover
	background-color #336895
.side-nav__li:last-child
	border-bottom none
.nav-pills .side-nav__li.nav-link.active, .nav-pills .show>.nav-link
	color #fff
	background-color #336895
	border-left 8px solid #fd7c47
.nav-pills .side-nav__li.nav-link
	color #fff
	border-radius 0

.side-nav__action
	position absolute
	display inline-block
	top -15px
	right -18px
	height 40px
	width 40px
	font-size 13px
	color #fff
	background-color #ff0000
	border-radius 50%

.side-nav__action-i
	position absolute
	bottom 8px
	left 8px
// /Жалюзи заголовок Левый

// Заголовок обычный
.title-simple
	margin-bottom 25px
	font-size 30px
	color #333
.jal__right-txt
	font-size 14px
	line-height 24px
	color #555

// Смотреть весь текст
.jal__right-txt-more-btn
	position relative
	margin 15px 0
	display inline-block
	text-decoration none
	cursor pointer
	color rgba(#000000, 0)
	transition .2s ease
.jal__right-txt-more-btn:hover
	text-decoration underline
.jal__right-txt-more-btn.collapsed
	color #555555

.jal__right-txt-more-btn.collapsed:before
	position absolute
	top 0
	left 0
	content 'Свернуть'
	color rgba(#000000, 0)
	transition .2s ease

.jal__right-txt-more-btn:hover:before
	text-decoration underline
.jal__right-txt-more-btn:before
	position absolute
	top 0
	left 0
	content 'Свернуть'
	color #555

// Жалюзи карточка
.jal__card
	padding-bottom 10px
	display flex
	flex-direction column
	height 400px
	background-color #fff
	box-shadow 0 0 30px 0 rgba(0, 0, 0, .25)
	transition .2s ease

.jal__card:hover
	margin-top -10px
	box-shadow 0 24px 30px 0 rgba(0, 0, 0, .35)

.jal__card-img
	margin-bottom 15px
	width 100%
	height 250px
	background-color lightgrey
	background-position center
	background-size cover
.jal__card-title
	margin-bottom 15px
	padding 0 10px
	font-size 14px
	line-height 18px
	text-align center
	text-transform uppercase
	color #222
.jal__card-price
	margin-bottom 5px
	font-size 14px
	line-height 18px
	text-align center
	color #666
.jal__card-price-num
	display inline-block
	font-weight 600
	color #00427b

.jal__card-more
	margin 20px 0
	text-align center
.jal__card-more-a
	padding 10px 20px
	font-family MullerLight
	color #ff943d
	background #fff
	border 1px dashed #ff943d
	transition .2s ease
.jal__card-more-a:hover
	text-decoration none
	color #fff
	background linear-gradient(#ffb063, #fa4a2d)
	border 1px solid #ff943d

.content__li
	padding-left 20px
	position relative

.content__li:before
	content '\f00c'
	font-family FontAwesome
	position absolute
	left 0
	top -1px
	font-size 14px
	color green

// Акционный баннер
.jal__banner
	overflow hidden
	position relative
	background-image url('../../images/jal-banner.png')
	background-position center
	background-size cover
	color #fff
	min-height 147px
	margin-bottom 55px
	box-shadow 0 0 30px 0 rgba(0, 0, 0, .25)

// Левая клолонка
.jal__banner-left
	margin-top 30px
.banner__title
	font-size 36px
	color #ff0000
	background-color #ffff00
	display inline
	padding 5px 10px 0 30px
	font-family MullerBold
	margin-top 30px
.banner__txt
	padding-left 30px
	font-size 24px
	font-family MullerLight
	margin-top 4px

// Центральная клолонка
.jal__banner-center
	position relative
.banner__circle
	position absolute
	background-color #ffff00
	height 184px
	width 184px
	border-radius 50%
	top 50%
	transform translateY(-50%)
	z-index 20
.banner__circle-txt
	position absolute
	top 50%
	left 50%
	width 100%
	transform translate(-50%, -38%) rotate(10deg)
	font-size 61px
	color #ff0000
	font-family MullerBold
.banner__circle-txt-minus
	margin-right -15px
	margin-left 15px

// Правая колонка
.jal__banner-right
	padding 39px 0
	text-align center
.banner__price-new
	font-family MullerLight
	font-size 24px
.banner__price-new-price
	font-family MullerBold
	font-size 36px
.banner__price-new-crc
	font-size 18px


.banner__price-ex-prc
	position relative
	font-size 24px
	font-family MullerBold
	display inline-block
.banner__price-ex-prc-stroke
	position absolute
	width 130%
	height 4px
	background-color #ff0000
	top 50%
	left 50%
	transform translate(-50%, -50%) rotate(-15deg)

.banner__price-ex-crc
	font-size 18px
.banner__price-ex
	font-size 24px
	font-family MullerLight
.banner__square
	font-size 14px
	margin-left -6px
	vertical-align super

// Подчеркивание
.jal__banner-underline
	position absolute
	width 100%
	bottom 0
	left 0
	background-color #00427b
	height 20px

// Адаптация
@media screen and (min-width 0)
	.banner__circle
		position relative
		transform none
		margin auto
		margin-top 30px
@media screen and (min-width 767px)
	.banner__circle
		position absolute
		transform translateY(-50%)
		margin inherit
		margin-top inherit

// /Жалюзи
