// Почему стоит заказать жалюзи у нас
.whyus
	padding 50px 0
	display block
	overflow hidden
	background-color #fff

.whyus__item-wrap
	padding 0

.whyus__item
	position relative
	padding-top 26px
	// z-index 20

.whyus__item:before
	position absolute
	z-index 10
	top 25px
	right -100%
	width 100%
	height 30px
	content ''
	background #ebebeb
.whyus__item:after
	position absolute
	z-index 10
	top 25px
	right 100%
	width 100%
	height 30px
	content ''
	background #ebebeb

.whyus__item-ttl
	z-index 20
	padding 8px 0 4px
	padding-left 90px
	font-size 18px
	color #222
	text-transform uppercase
	background-color #ebebeb
	position relative

.whyus__item-txt
	padding 6px 0
	padding-left 90px
	color #666

.whyus__item-numb
	font-size 48px
	background-color #00427b
	color #fff
	width 82px
	height 82px
	display flex
	justify-content center
	align-items center
	border 8px solid #fff
	border-radius 50%
	font-family MullerBold
	padding-top 5px
	position absolute
	top 0
	left 0
	z-index 20
// /Почему стоит заказать жалюзи у нас
