// Почему стоит заказать жалюзи у нас
.whyus
	padding 50px 0
	display block
	overflow hidden
	background-color #fff

.whyus__item-wrap
	padding 0

.whyus__item
	position relative
	padding-top 28px
	// z-index 20

.whyus__item:before
	position absolute
	z-index 10
	top 28px
	right -100%
	width 2000px
	height 24px
	content ''
	background #ebebeb
.whyus__item:after
	position absolute
	z-index 10
	top 28px
	width 2000px
	height 24px
	content ''
	background #ebebeb

.whyus__item-ttl
	z-index 20
	padding 2px 0 0
	padding-left 90px
	font-size 18px
	line-height 24px
	color #222
	text-transform uppercase
	position relative
.whyus__item-ttl-bg
	background-color #ebebeb
	position absolute
	height 24px
	width 100%
	left 0
	top 0
	z-index -1

.whyus__item-txt
	padding 6px 0
	padding-left 90px
	color #666

.whyus__item-numb
	font-size 48px
	background-color #00427b
	color #fff
	width 82px
	height 82px
	display flex
	justify-content center
	align-items center
	border 8px solid #fff
	border-radius 50%
	font-family MullerBold
	padding-top 5px
	position absolute
	top 0
	left 0
	z-index 20
// /Почему стоит заказать жалюзи у нас
