// Выбирая электрокарнизы вы получаете
.choosekar
	padding 70px 0
	display block
	background-color #fff
	.choose-item
		min-height 140px
		height 210px

@media screen and (max-width 992px)
	.choosekar
		.col3
			.choose-item
				height inherit
@media screen and (max-width 767px)
	.choosekar
		.col1
		.col2
			.choose-item
				height inherit


// /Выбирая электрокарнизы вы получаете
