// Выбирая электрокарнизы вы получаете
.choosekar
	padding 70px 0
	display block
	background-color #fff
	.choose-item
		min-height 170px

@media screen and (max-width 1200px)
	.choosekar
		.choose-item
			min-height 210px


@media screen and (max-width 991px)
	.choosekar
		.choose-item
			min-height 150px
	.choosekar
		.col3
			.choose-item
				min-height 100px
@media screen and (max-width 767px)
	.choosekar
		.col1
		.col2
			.choose-item
				min-height 100px


// /Выбирая электрокарнизы вы получаете
